name: Build and Upload APK to Releases

on:
  push:
    branches:
      - main

env:
  REPO_NAME: mykhailoko/Dino-Adventure

jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container:
      image: jedie/buildozer
      env:
        NODE_ENV: development
      volumes:
        - ./Dino-Adventure:/Dino-Adventure
    steps:        
      - name: Checkout Ð¡ode
        uses: actions/checkout@v1
        
      - name: Check for dockerenv file
        run: pwd && ls && ls -la /Dino-Adventure

      - name: Print version information
        run: |
          uname -a
          cython --version
          buildozer --version

      - name: Build Android app
        run: buildozer --verbose android debug --spec ./buildozer.spec   
          
